{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
        KS Games
        {% endblock %}</title>
    <link rel="icon" href="{% static 'img/logo_ks.png' %}" type="image/jpg">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/index_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>

<body>
    <header class="header">
        <div class="header__container">
            <div class="header__logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'img/logo_ks.png' %}" alt="Logo">
                </a>
            </div>
            <nav class="header__nav">
                <ul><a class="header__nav-a {% if request.path == '/' %} a-active {% endif %}"
                        href="{% url 'home' %}">Inicio</a></ul>
                <ul><a class="header__nav-a {% if request.path == '/catalog/' %} a-active {% endif %}"
                        href="{% url 'catalog' %}">Catálogo</a></ul>
                <ul><a class="header__nav-a" href="#">Noticias</a></ul>
                <ul><a class="header__nav-a {% if request.path == '/contacto/' %} a-active {% endif %}"
                        href="{% url 'contacto' %}">Contacto</a></ul>
            </nav>
        </div>
        <div class="header__search">
            <form role="search" action="{% url 'searcher' %}" method="get">
                <input class="header__search-input" type="search" name="q" value="{{request.GET.q|default:''}}"
                    placeholder="Buscar...">
                <button class="header__search-button" type="submit">Buscar</button>
            </form>
            <!-- user/guest -->
            <ul>
                <li>
                    <a href="#" role="button">

                        <span>
                            Hola,
                            {% if user.is_authenticated %}
                            <span>{{ user.username }}</span>
                            {% else %}
                            <span>Invitado</span>
                            {% endif %}
                        </span>
                    </a>
                    <ul>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' %}">Mi perfil</a></li>
                        <li><hr></li>
                        <li><a href="{% url 'log-out' %}">Cerrar sesión</a></li>
                        {% else %}
                        <li><a href="{% url 'log-in' %}">Iniciar sesión</a></li>
                        <li><a href="{% url 'sign-in' %}">Registrarse</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <div class="content">
        {% block content %}
        <!-- Aqui irá el contenido espcífico de cada página -->
        {% endblock %}
    </div>

    <footer>
        <p>&copy 2026 <strong>KS</strong> Games</p>
        <a href="{% url 'home' %}">Inicio</a>
        <a href="{% url 'contacto' %}">Contacto</a>
    </footer>
</body>

</html>