{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
        Tienda de Videojuegos
        {% endblock %}</title>
    <link rel="icon" href="{% static 'img/lol.jpg' %}" type="image/jpg">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/index_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>

<body>
    <div class="content">
        {% block content %}
        <!-- Aqui irá el contenido espcífico de cada página -->
        {% endblock %}
    </div>

    <footer>
        <p>2026 Tienda de Videojuegos</p>
        <a href="{% url 'home' %}">Inicio</a>
        <a href="{% url 'contacto' %}">Contacto</a>
    </footer>
</body>

</html>