{% extends 'base.html' %}
{% load static %}

{% block title %} Listado de Videojuegos {% endblock %}
{% block content %}
<h2 class="catalog__title">Lista de Juegos</h2>
<div class="catalog__content">
    {% for videogame in videogame_list %}
    <div class="catalog__content-item">
        <img class="catalog__content-img" src="{% static 'img/lol.jpg' %}" alt="">
        <div>
            <h4>{{videogame.name}}</h5>
            <p>Plataforma: {{videogame.platform}}</p>
            <p>Price: {{videogame.price}}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}