{% extends 'base.html' %}
{% load static %}

{% block title %} KS Games - Inicio {% endblock %}

{% block content %}

<div class="info">
    <h1>Bienvenido a la Tienda de Videojuegos</h1>
    <p class="note">Explora nuestro catálogo y disfruta de las mejores ofertas</p>
    <div class="info__note info__note-1">Nueva coleccion de videojuegos disponible esta semana</div>
    <div class="info__note info__note-2">Recuerda revisar las restricciones de edad para algunos juegos.</div>
    <div class="info__note info__note-3">Algunos productos tienen stock limitado, ¡apresúrate!</div>
</div>

{% endblock %}