{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Videojuegos</title>
    <link rel="icon" href="{% static 'img/lol.jpg' %}" type="image/jpg" >
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <h1>Bienvenido a la Tienda de Videojuegos</h1>
    <p>Explora nuestro catálogo y disfruta.</p>

    <footer>
        <p>2026 Tienda de Videojuegos</p>
        <a href="{% url 'contacto' %}">Contacto</a>
    </footer>
</body>
</html>